@charset "UTF-8";

body {
	margin: 0;
	background: linear-gradient(to bottom, #00d3cc, #FFFFFF) fixed;
	background-size: 100%;
}

.container {
	padding: 0 4% 2% 4%;
	background-color: white;
	border: white solid 1px;
	border-radius: 20px;
}

.noData {
	height: 350px;
}

.noData p {
	margin-top: 3%;
}

.container h2 {
	text-align: center;
	margin-bottom: 0;
}

.container p {
	text-align: center;
	color: #00409b;
	line-height: 0px;
}

.container table {
	margin: 0 auto;
	width: 70%;
	border: gray solid 1px;
	border-collapse: collapse;
}

.container th {
	padding: 5px;
	vertical-align: middle;
	white-space: nowrap;
}

.container td {
	vertical-align: middle;
}

td .itemimg {
	margin: 0 auto;
	display: block;
	width: 100px;
}

.check{
	text-align: center;
}

.name{
	text-align: center;
}

.container th, td {
	padding: 0.5%;
}

.container th {
	background-color: lightgrey;
}

.price,.productCount,.subtotal{
	text-align: right;
}

.totalArea {
	border-top: 3px solid black;
	border-right: 0px solid white;
	border-bottom: 0px solid white;
	border-left: 0px solid white;
	text-align: right;
	font-weight: bold;
	white-space: nowrap;
}

.btn {
	margin-right: 12%;
}

#settlementBtn {
	float: right;
}

#deleteBtn {
	float: right;
}

#deleteBtn:disabled {
	background-color: #427fd4;
	border: 1px solid #427fd4;
}

#deleteBtn, #settlementBtn {
	margin: 3% 3% 0 0;
	padding: 0 3% 0 3%;
	background-color: #00409b;
	color: white;
	border: 1px solid #00409b;
	border-radius: 6px;
}

.container .clear {
	clear: right;
}