@charset "UTF-8";

body {
	margin: 0;
	background: linear-gradient(to bottom, #00d3cc, #FFFFFF) fixed;
	background-size: 100%;
}

.container {
	height: 60%;
	background-color: white;
	border: white solid 1px;
	border-radius: 20px;
}

.container h2 {
	text-align: center;
	margin-bottom: 0;
}

.container p {
	text-align: center;
	color: #00409b;
	line-height: 0px;
}

.container table {
	margin: 0 auto;
	width: 70%;
	border: black solid 1px;
	border-collapse: collapse;
}

.container th, td {
	text-align: center;
	padding: 0.5%;
}

.container th {
	background-color: lightgray;
	white-space: nowrap;
}

.btn {
	margin-right: 12%;
}

#deleteBtn, .newBtn, #settlementBtn {
	float: right;
	margin: 3% 3% 2% 0;
	padding: 0 2% 0 2%;
	background-color: #00409b;
	color: white;
	border: 1px solid #00409b;
	border-radius: 6px;
}

.container .clear {
	clear: right;
}